#overlay{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F7FA;
    z-index: 2;
    opacity: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0%{
        opacity: 1;
      }
      
      100%{
        opacity: 0;
      }
}

.gradient-background {
    background: linear-gradient(167deg,#0059d6,#00d685,#3aa1b9), #00d685;
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
  
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.bg-container{
    display: flex;
}

#complete-poster{
    display: none;
    width: 210mm;
    height: 297mm;
}

#download-button{
    display: none;
}

#final-image{
    margin: auto;
}

#final-image > img{
    width: 68%;
    margin: auto;
    display: flex;
}

/* MOBILE FRIENDLY DESIGNS */
.results-container{
    display: block;
    align-content: center;
    align-items: center;
}

.image-container{
    margin: auto;
    min-width: 400px
}

.text-container{
    margin: auto;
    min-width: 400px;
    min-height: 245px;
    align-content: center;
    width: 50%;
    height: 35%;
}

@media (min-width: 992px) { 
    .results-container{
        align-items: center;
        height: 100vh;
        width: 80vw;
        margin: auto;
        display: flex;
    }

    .image-container{
        display: flex;
        margin: auto;
    }

    .text-container{
        margin: auto;
        min-width: 400px;
        min-height: 245px;
    }
}