@font-face {
  font-family: posterRegular;
  src: url(/static/fonts/CooperHewitt-Medium.otf);
  font-weight: normal;
}

@font-face {
  font-family: posterLight;
  src: url(/static/fonts/CooperHewitt-Light.otf);
  font-weight: lighter;
}

@font-face {
  font-family: posterBold;
  src: url(/static/fonts/CooperHewitt-Bold.otf);
  font-weight: bold;
}

#poster-container{
  display: flex;
  flex-direction: column;
  font-family: posterLight !important;
  font-size: 40px;
  padding: 95px 120px 30px 120px;
  position: fixed;
  top: 200%;
}  

#cover-img{
  display: flex;
  margin: auto;
  width: 100%;
  padding-bottom: 30px;
  border-radius: 4px;
}

.secondary{
  font-family: posterLight !important;
  font-size: 20px;
  padding: 0;
}

.vr{
  opacity: 1 !important;
  width: 100% !important;
  min-height: 7px !important;
  display: flex !important;
}

#title-container{
  height: 55px;
}

#title{
  margin: 0;
  font-size: 26px;
  padding: 10px 0 0 0;
  font-family: posterBold;
}

#tracklist-container{
  height: 250px;
}

#tracklist{
  font-size: 16px;
  list-style-type: none;
  padding: 20px 0 0 0;
}

#tracklist strong{
  margin: 0 4px;
  font-family: posterRegular;
}

footer{
  font-family: posterLight !important;
  margin: auto auto 0 auto;
  font-size: 10px;
}

footer > img{
  width: 22px;
  display: flex;
  margin: auto;
  padding-bottom: 10px;
}

footer > p{
  margin-bottom: 0;
}

/* landscape poster CSS changes */
#title-container.landscape > #title{
  font-size: 38px;
}

.poster-bottom-container.landscape > #tracklist-container{
  height: 325px;
}

.poster-top-container.landscape, .poster-bottom-container.landscape{
  width: 50%;
  margin: 60px 10px;
}

footer.landscape{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

footer span{
  border-bottom: 1px solid;
}