@font-face {
    font-family: posterRegular;
    src: url(/static/fonts/CooperHewitt-Medium.otf);
    font-weight: normal;
  }

  @font-face {
    font-family: posterLight;
    src: url(/static/fonts/CooperHewitt-Light.otf);
    font-weight: lighter;
  }

  @font-face {
    font-family: posterBold;
    src: url(/static/fonts/CooperHewitt-Bold.otf);
    font-weight: bold;
  }


h1{
  padding-top: 1%;
  font-family: posterBold;
}

#poster-container{
    display: flex;
    flex-direction: column;
    font-family: posterLight !important;
    font-size: 100%;
    padding: 4.5% 6%;
}   

#cover-img{
  display: flex;
  margin: auto;
  width: 100%;
  padding-bottom: 30px;
}

.secondary{
  margin: 20px 0 8px;
  font-family: posterLight !important;
  font-size: 20px;
}

.vr{
  opacity: 1 !important;
  width: 100% !important;
  min-height: 7px !important;
}

#title-container{
  max-height: 9%;
}

#tracklist-container{
  height: 100px;
}

#tracklist{
    font-size: 120%;
    list-style-type: none;
    padding: 4% 0 0 0;
}

#tracklist strong{
  margin: 0 4px;
  font-family: posterRegular;
}

footer{
  font-family: posterLight !important;
  margin: auto auto 0 auto;
  font-size: 10px;
}

footer span{
  border-bottom: 1px solid;
}