body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
}

.album_list{
    display: flex;
}

.text_list{
    padding: 0;
    margin-top: 11px;
}

.album_container{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    display: flex;
    padding: 0 4px;
}

.album_container > *{
    display: block;
    margin: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.grid-container{
    display: grid;
    grid-template-columns: auto;
}

.grid-item{
    border: 1px solid rgba(161, 161, 161, 0.209);
    padding: 20px;
    font-size: 30px;
}

.spotify-logo{
    padding-bottom: 20px;
    width: 125px;;
}

.album-title, .album-info{
    max-width: 250px;
}

.album-info{
    color: #505a5f !important;
}

.track_count{
    color: #858b8d !important;
    text-decoration: underline;
}

.track_count:hover{
    cursor: pointer;
}

.btn-generate{
    background-color: #f8f9fa !important;
}

.btn-spotify{
    background-color: #1ED760 !important;
}

.btn-spotify:hover{
    text-decoration: none;
}

.poster-modal-display{
    min-width: 500px;
    min-height: 500px;
    align-content: center;
}

.poster-modal-container > *{
    width: 50%;
}

.preview-image{
    /* default CSS - will change using JS */
    width: 500px;
    background-color: #F6F7FA;
    display: flex;
    margin: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .album-image{
        border-radius: 2px;
    }
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
    }

    .album-image{
        border-radius: 4px;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */