body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
}

.album_list{
    display: flex;
}

.text_list{
    padding: 0;
    margin-top: 11px;
}

.album_container{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    display: flex;
    padding: 0 4px;
}

.album_container > *{
    display: block;
    margin: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item{
    border: 1px solid rgba(161, 161, 161, 0.209);
    padding: 20px;
    font-size: 30px;
}

.spotify-logo{
    padding-bottom: 20px;
}

.album-title, .album-info{
    max-width: 250px;
}

.album-info{
    color: #505a5f !important;
}

.btn-generate{
    background-color: #f8f9fa !important;
}

.btn-spotify{
    background-color: #1ED760 !important;
}

.btn-spotify:hover{
    text-decoration: none;
}