body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
}

.nav-link{
    color: #212529 !important;
}

.active{
    background-color: #f8f9fa !important;
}

.vr{
    min-height: 1px !important;
}

.album_list{
    display: flex;
}

.text_list{
    margin-top: 11px;
}

.album_container{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    display: flex;
    padding: 0 4px;
}

.album_container > *{
    display: block;
    margin: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.grid-container{
    display: grid;
    grid-template-columns: auto;
}

.grid-item{
    border: 1px solid rgba(161, 161, 161, 0.209);
    padding: 20px;
    font-size: 30px;
}

.spotify-logo{
    padding-bottom: 20px;
    width: 125px;;
}

.album-title, .album-info{
    max-width: 250px;
}

.album-info{
    color: #505a5f !important;
}

.track_count{
    color: #858b8d !important;
    text-decoration: underline;
}

.track_count:hover{
    cursor: pointer;
}

.btn-generate{
    background-color: #f8f9fa !important;
}

.btn-spotify{
    background-color: #1ED760 !important;
}

.btn-spotify:hover{
    text-decoration: none;
}

.preview-image{
    /* default CSS - will change using JS */
    width: 100%;
    background-color: #F6F7FA;
    display: flex;
    margin: auto;
}

.modal-body{
    display: flex;
}

.modal-content{
    min-width: 500px;
}

.poster-modal-container{
    width: 100%;
}

.poster-modal-display{
    margin: auto 3%;
    width: 60%;
    display: none;
}

.submit{
    margin: 10px 0;
}

.poster-modal-settings{
    width: 100%;
    /* height: 80%; */
    margin: 0 !important;
}

/* .modal-content{
    height: auto;
} */

/* X-small devices (portrait phones, under 576px) */
@media (max-width: 576px){
    .album_container{
        display: block;
    }

    .image_container{
        padding-left: 32px;
    }

    .album-image{
        display: flex;
        text-align: center;
    }

    .text_list{
        margin: 15px 0;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .album-image{
        border-radius: 2px;
    }

    .album_container{
        display: flex;
    }

    .poster-modal-container{
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
    }

    .album-image{
        border-radius: 4px;
    }

    .poster-modal-container{
        display: flex;
    }

    .poster-modal-display{
        display: flex;
    }

    .poster-modal-settings{
        width: 40%;
        height: 80%;
    }

    .modal-content{
        height: 90vh;
    }
 }

/* X-Large devices (large desktops, 1200px and up)  */
/* @media (min-width: 1200px) { ... } */

/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */