<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center" >Album Cover Generator 
            <small class="text-body-secondary">
                by <a href="https://www.zoejohnston.dev/" target="_blank" class="link-secondary">Zoe Johnston</a>
            </small>
        </h1>
        <p class="lead text-center">
            Powered by Spotipy, Flask and HTML/CSS
        </p>

        <div class="container mt-5">
            <h1>Search albums</h1>
            <form method="POST" action="/">
                <div class="form-group">
                    <input type="text" class="form-control" id="user_input" name="user_input" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        {% if user_input %}
        <h2>
            Results for "{{ user_input }}":
        </h2>
        {% endif %}
    
        {% if album_results is none and user_input %}
        <div class="mt-3 alert alert-danger">
            No albums found.
        </div>
        {% endif %}

        {% if album_results %}
        <div class="mt-3 grid-container">
            {% for album in album_results %}
            <div class="album_container grid-item">
                <div class="image_container">
                    <img class="d-flex spotify-logo" src="/static/logo/Spotify_Full_Logo_RGB_Green.png" width="50px" alt="">
                    <img class="album-image" src="{{ album.image }}" alt="{{ album.title }} album cover" width="200">
                </div>
                <ul class="text_list">
                    <p class="h5 album-title">{{ album.title }}</p>
                    <p class="h6 track_count" data-bs-toggle="modal" data-bs-target="#{{ album.album_id }}">{{album.track_count}} tracks</p>
                    <p class="h6 album-info">{{ album.released }} &#8226; {{ album.artist }}</p>
                    <div class="button_container">
                        <button type="button" class="btn btn-generate" data-bs-toggle="modal" data-bs-target="#{{ album.album_id }}-poster">Generate</button>
                        <a href="{{ album.url }}" target="_blank" class="btn btn-spotify"> PLAY ON SPOTIFY</a>
                    </div>

                </ul>
            </div>
            
            <!-- Modal for track list -->
            <div class="modal fade" id="{{ album.album_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tracks in {{ album.title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ol>
                            {% for track in album.track_list %}
                            <li>{{track}}</li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            
            <!-- Modal for generated poster -->
            <div class="modal fade" id="{{ album.album_id }}-poster" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Generate Poster</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="poster-modal-container d-flex">
                                <div class="poster-modal-display">
                                    <img src="/static/previews/pre-landscape-light.png" alt="" class="preview-image" id="preview-image-{{ album.album_id }}">
                                </div>
                                <div class="poster-modal-settings">
                                    <h2>Settings</h2>
                                    <!-- Form to generate the poster -->
                                    <form class="poster-form" id="poster-form" method="POST" action="/generate">
                                        <div class="form-group">
                                            <!-- hidden album info -->
                                            <input type="hidden" name="album_image" value="{{ album.image }}">
                                            <input type="hidden" name="album_title" value="{{ album.title }}">
                                            <input type="hidden" name="album_released" value="{{ album.released }}">
                                            <input type="hidden" name="album_artist" value="{{ album.artist }}">
                                            {% for track in album.track_list %}
                                                <input type="hidden" name="track_list" value="{{ track }}">
                                            {% endfor %}

                                            <!-- User-interactive options -->
                                            <h3>Orientation</h3>
                                            <div class="form-check">
                                                <input type="radio" class="btn-check" name="orientation" value="landscape" id="option2-{{ album.album_id }}" autocomplete="off" checked>
                                                <label class="btn btn-secondary" for="option2-{{ album.album_id }}">Landscape</label>

                                                <input type="radio" class="btn-check" name="orientation" value="portrait" id="option1-{{ album.album_id }}" autocomplete="off">
                                                <label class="btn btn-secondary" for="option1-{{ album.album_id }}">Portrait</label>
                                            </div>

                                            <h3>Background Color</h3>
                                            <div class="form-check">
                                                <input type="radio" class="btn-check" name="bg-color" value="light" id="option3-{{ album.album_id }}" autocomplete="off" checked>
                                                <label class="btn btn-secondary" for="option3-{{ album.album_id }}">Light</label>

                                                <input type="radio" class="btn-check" name="bg-color" value="dark" id="option4-{{ album.album_id }}" autocomplete="off">
                                                <label class="btn btn-secondary" for="option4-{{ album.album_id }}">Dark</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Generate</button>
                                    </form>
                                    <div id="poster-container"></div>
                                    <div id="img-container"></div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/functions/posterPreview.js"></script>
    <!-- <script src="/static/functions/generatePoster.js"></script> -->
    <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
        })
    </script>  
</body>
</html>