<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/hero.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

        <div class="hero-container gradient-background d-flex " id="hero">
            <header class="d-flex justify-content-center py-3 bg-transparent fixed-top">
                <ul class="nav nav-pills">
                <li class="nav-item"><a href="#hero" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#search" class="nav-link">Generate</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#questions" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      FAQs
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#albumpostify">What is albumpostify?</a></li>
                      <li><a class="dropdown-item" href="#make">How do I make a poster?</a></li>
                      <li><a class="dropdown-item" href="#noalbum" >I can't find the album I want to use</a></li>
                      <li><a class="dropdown-item" href="#noartist" >I can't search by artist</a></li>
                      <li><a class="dropdown-item" href="#print">Can I print my poster?</a></li>
                      <li><a class="dropdown-item" href="#sell">Can I sell my poster?</a></li>
                      <li><a class="dropdown-item" href="#spotipy" >What is Spotipy?</a></li>
                    </ul>
                </ul>
            </header>
            <div class="hero-text container align-middle m-auto ps-5 fade-in">
                <header class="pt-2 pb-4">
                    <h1 class="display-4">Albumpostify</h1>
                    <div class="text-body-secondary small">
                        by <a href="https://www.zoejohnston.dev/" target="_blank" class="link-light">Zoe Johnston</a>
                    </div>
                    <h3 class="display-6 pt-3" >Create beautiful posters from your favourite albums.</h2>
               </header>
               <div class="action-container pt-3">
                <a href="#search" class="btn btn-primary btn-lg">Find Album</a>
                <span class="text-body-secondary small">Powered by Spotipy</span>
               </div>
            </div>
        </div>


        <div class="container pt-5 mb-5 w-75" id="search">
            <h5>Pick your album from Spotify</h5>
            <form method="POST" action="/" class="row row-cols pt-2">
                <div class="col-10">
                    <input type="text" class="form-control" id="user_input" name="user_input" required placeholder="Enter album name...">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary inline">Submit</button>
                </div>
            </form>
        </div>

        {% if user_input %}
        <h4 class="w-100 container">
            Results for "{{ user_input }}":
        </h4>
        {% endif %}
    
        {% if album_results is none and user_input %}
        <div class="w-75 container mt-4 mb-5 p-5 d.flex justify-content-center text-center border">
            <h5>No albums found</h5>
            <p>Try a more specific name, a different album, or check for any misspellings.</p>
        </div>
        {% endif %}

        {% if album_results %}
        <div class="w-100 mt-4 mb-5 grid-container container">
            {% for album in album_results %}
            <div class="album_container grid-item">
                <div class="image_container">
                    <img class="d-flex spotify-logo" src="/static/logo/Spotify_Full_Logo_RGB_Green.png" width="50px" alt="">
                    <img class="album-image" src="{{ album.image }}" alt="{{ album.title }} album cover" width="200">
                </div>
                <ul class="text_list">
                    <p class="h5 album-title">{{ album.title }}</p>
                    <p class="h6 track_count" data-bs-toggle="modal" data-bs-target="#{{ album.album_id }}">{{album.track_count}} tracks</p>
                    <p class="h6 album-info">{{ album.released }} &#8226; {{ album.artist }}</p>
                    <div class="button_container">
                        <button type="button" class="btn btn-generate" data-bs-toggle="modal" data-bs-target="#{{ album.album_id }}-poster">Generate</button>
                        <a href="{{ album.url }}" target="_blank" class="btn btn-spotify">GET SPOTIFY FREE</a>
                    </div>

                </ul>
            </div>
            
            <!-- Modal for track list -->
            <div class="modal fade" id="{{ album.album_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content h-100">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tracks in {{ album.title }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ol>
                            {% for track in album.track_list %}
                            <li>{{track}}</li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            
            <!-- Modal for generated poster -->
            <div class="modal fade" id="{{ album.album_id }}-poster" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Generate Poster</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="poster-modal-container">
                                <div class="poster-modal-display">
                                    <img src="/static/previews/pre-landscape-light.png" alt="" class="preview-image" id="preview-image-{{ album.album_id }}">
                                </div>
                                <div class="poster-modal-settings m-auto">
                                    <h2>Settings</h2>
                                    <!-- Form to generate the poster -->
                                    <form class="poster-form m-auto" id="poster-form" method="POST" action="/generate">
                                        <!-- hidden album info -->
                                        <input type="hidden" name="album_image" value="{{ album.image }}">
                                        <input type="hidden" name="album_title" value="{{ album.title }}">
                                        <input type="hidden" name="album_released" value="{{ album.released }}">
                                        <input type="hidden" name="album_artist" value="{{ album.artist }}">
                                        {% for track in album.track_list %}
                                            <input type="hidden" name="track_list" value="{{ track }}">
                                        {% endfor %}

                                        <!-- User-interactive options -->
                                        <div class="form-group py-2">
                                            <h4>Orientation</h4>
                                            <div class="form-check p-0">
                                                <input type="radio" class="btn-check" name="orientation" value="landscape" id="option2-{{ album.album_id }}" autocomplete="off" checked>
                                                <label class="btn btn-secondary" for="option2-{{ album.album_id }}">Landscape</label>

                                                <input type="radio" class="btn-check" name="orientation" value="portrait" id="option1-{{ album.album_id }}" autocomplete="off">
                                                <label class="btn btn-secondary" for="option1-{{ album.album_id }}">Portrait</label>
                                            </div>
                                        </div>

                                        <div class="form-group py-2">
                                            <h4>Background Color</h4>
                                            <div class="form-check p-0">
                                                <input type="radio" class="btn-check" name="bg-color" value="light" id="option3-{{ album.album_id }}" autocomplete="off" checked>
                                                <label class="btn btn-secondary" for="option3-{{ album.album_id }}">Light</label>

                                                <input type="radio" class="btn-check" name="bg-color" value="dark" id="option4-{{ album.album_id }}" autocomplete="off">
                                                <label class="btn btn-secondary" for="option4-{{ album.album_id }}">Dark</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="submit btn btn-primary">Generate</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- FAQ Section -->
        <div class="container w-75">
           <div class="title-container">
            <div class="h3">Frequently Asked Questions</div>
            <div class="vr w-100 m-auto d-flex"></div>
            </div>
            <div class="question-container pt-5" id="albumpostify">
                <div class="h4 py-2">What is Albumpostify?</div>
                <p class="lead">
                    Albumpostify is a website that provides posters based on your favourite albums.
                </p>
                <p>
                    Simply find an album you like, click Generate, and tweak the poster's design to your liking. After generation, you can save your poster to your computer.
                </p>
                <p>
                    For the highest quality poster, please click the “Download” button provided after generation instead of using “Save image As...”.
                </p>
                <div class="vr w-100 m-auto d-flex"></div>
            </div>
            <div class="question-container pt-5" id="make">
                <div class="h4 py-2" >How do I make a poster?</div>
                <p class="lead">
                    To make a poster, go to the <a href="#search">search bar</a> and search for an album. 
                </p>
                <p>
                    When you find the album you want, click Generate. A popup will appear giving you different design options - choose whichever you prefer. After this stage, your poster will be created!
                </p>
                <div class="vr w-100 m-auto d-flex"></div>
            </div>
            <div class="question-container pt-5" id="noalbum">
                <div class="h4 py-2">I can't find the album I want to use via the search bar. Why?</div>
                <p class="lead">
                    You can only find albums that are available on Spotify using Albumpostify's search bar.
                </p>
                <p>
                    If your desired album is not on Spotify, then that album is unfortunately unavailable.
                </p>
                <div class="vr w-100 m-auto d-flex"></div>
            </div>
            <div class="question-container pt-5" id="noartist">
                <div class="h4 py-2">I can't search by my desired artist. Why?</div>
                <p class="lead">
                    Currently you can only search depending on the album name, not the artist.
                </p>
                <p>
                    More search options will become available in future updates.
                </p>
                <div class="vr w-100 m-auto d-flex"></div>
            </div>
            <div class="question-container pt-5" id="print">
                <div class="h4 py-2">Can I print my poster for personal use?</div>
                <p class="lead">
                    Yes, you can print your poster for personal use after downloading it from Albumpostify. 
                </p>
                <p>
                    You can use it for journaling, as a poster in your room, etc.
                </p>
                <div class="vr w-100 m-auto d-flex"></div>
            </div>
            <div class="question-container pt-5" id="sell">
                <div class="h4 py-2">Can I sell my poster?</div>
                <p class="lead">
                    Since the generated posters contain metadata from Spotify's music library, you <b>cannot sell or generate revenue </b> from the use of the poster designs.
                </p>
                <p>
                    For more information, please view Spotify for Developers' <a href="https://developer.spotify.com/compliance-tips#commercial-use" target="_blank">commercial use cases.</a>
                </p>
                <div class="vr w-100 m-auto d-flex"></div>
            </div>
            <div class="question-container pt-5 pb-5" id="spotipy">
                <div class="h4 py-2">What is Spotipy?</div>
                <p class="lead">
                    Spotipy is a free Python-based library that Albumpostify uses to fetch album data through Spotify's Web API.
                </p>
                <p>
                    It accesses Spotify's music library to search for albums and other information (artists, images, tracks, etc.).
                </p>
                <p>
                    If you are a developer and are interested in using Spotipy, please view their official documentation <a href="https://spotipy.readthedocs.io/en/2.24.0/" target="_blank">here</a> for more information.
                </p>
                <div class="vr w-100 m-auto d-flex"></div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/static/functions/posterPreview.js"></script>
</body>
</html>