<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/posterStyle.css">
</head>
<body onload="generatePoster()">
    <span hidden id="orientation">{{orientation}}</span>
    <span hidden id="theme">{{theme}}</span>
    <div id="poster-container">
        <img src="{{ image }}" alt="Album Cover" class="cover-img" />
        <h1>{{ title }}</h1>
        <span class="secondary">{{year}} - {{ artist }}</span>
        <hr>
        <ol class="tracklist">
            {% for track in tracks %}
                <li>{{ track }}</li>
            {% endfor %}
        </ol>
        <footer>made with albumpostify</footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
<script src="/static/functions/generatePoster.js"></script>
</html>